@using CODEx.Model
@model ListVM

@{
    var limit = 4; // Set your desired limit here
    var coordinators = Model.Coordinators.Take(limit);
    var events = Model.Events.Take(limit);
}

<header class="banner">
    <h1>Welcome to CODEx Club MMDU</h1>
    <p>Community of Developers</p>
    <a asp-controller="Home" asp-action="About" class="btnb">Learn More</a>
</header>
<br />
<hr />
<!-- Our Services Section -->
<section id="services" class="services-section row p-2">
    <h2>Our Events</h2>
    @foreach (var eventlist in events)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0  p-3 shadow border-top border-5 rounded">
                        <img src="@eventlist.PosterUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@eventlist.Name</p>
                                <p class="card-title text-warning text-center"> <b>@eventlist.Description</b></p>
                                <a><i class="bi bi-facebook"></i></a>
                                <i class="bi bi-instagram"></i>
                                <i class="bi bi-linkedin"></i>
                                <i class="bi bi-youtube"></i>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details" asp-route-eventId="@eventlist.Id" class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <a asp-area="User" asp-action="ListEvents" asp-controller="Home" asp class="btn btn-primary bg-gradient border-0 form-control">
        View All The Event
    </a>
    <!-- Add more services as needed -->
</section>
<br />
<hr />
<!-- Team Members Section -->
<section id="team" class="team-section">
    <h2>Our Team</h2>
    @foreach (var coordinatorlist in coordinators)
    {
    <div class="team-member">
        <div class="team-member-info">
                <img src="@coordinatorlist.ImageUrl" alt="Team Member 1">
            <h3>@coordinatorlist.Name</h3>
            <p>@coordinatorlist.Designation</p>
        </div>
    </div>
    }
    <a asp-area="User" asp-action="ListCoordinator" asp-controller="Home" asp class="btn btn-primary bg-gradient border-0 form-control">
                View All The Members
        </a>
    <!-- Add more team members as needed -->
</section>




