@model List<RegistrationForm>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row text-center">
            <h2 class="text-primary py-2">Minithon 2.0</h2>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="RegistrationForm" asp-action="ExportToExcel" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Import To Excel Sheet
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Leader Name</th>
                    <th>Leader Email</th>
                    <th>College</th>
                    <th>Department</th>
                    <th>Theme</th>
                    <th>Category</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.Id))
                {
                    <tr>
                        <td>@obj.TeamName</td>
                        <td>@obj.TeamLeaderNanme</td>
                        <td>@obj.LeaderEmail</td>
                        <td>@obj.College</td>
                        <td>@obj.Department</td>
                        <td>@obj.Theme</td>
                        <td>@obj.Category</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
